<%homepage = Homepage.last%>
<header class=" header_area">
  <div class="main_header_area" id="sticky">
    <div class="container-fluid nav-collapse-sc">
      <div class="navbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img class="logo-main" src="landing_page_new/mls_logo.png" alt=""></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
      
                 
                 
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <%= render partial: 'layouts/home_header', locals: header_props()%>
            <li> 
              <%= link_to "List Your Store", new_listing_path, :class => "new-listing-link", :id => "new-listing-link" %>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </div>
</header>
<div class="image-bg-sm-screen" style="background-image: url(landing_page_new/image-bg-mls.png);">
<section class="content-section video-section">
  <div class="pattern-overlay">
   <%if homepage.video_url.present?%>
            <a href="" style="background-image: url('<%=homepage.first_collage_image.url(:thumb)%>')">
            <a id="bgndVideo" class="player" data-property="{videoURL:'<%=homepage.video_url%>',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
          <%else%>
            <a id="bgndVideo" class="player" data-property="{videoURL:'https://youtu.be/WEkINa-n5BI',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
          <%end%>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="lander-texts"><%= community_slogan.html_safe %></h1>
          <div class="type-wrap">
            <div id="typed-strings">
              <h1 class="text-center rs-sm"><%=homepage.present? && homepage.text_variation1.present? ? homepage.text_variation1 : 'Exposure'%></h1>
              <h1 class="text-center rs-sm"><%=homepage.present? && homepage.text_variation2.present? ? homepage.text_variation2 : 'Sales'%></h1>
              <h1 class="text-center rs-sm"><%=homepage.present? && homepage.text_variation3.present? ? homepage.text_variation3 : 'Exposure'%></h1>
            </div>
            <span id="typed" style="white-space:pre;"></span>
          </div>
          <h3><%= community_description.html_safe %></h3>
          <br>
          <form class="form-wrapper" action="/lists" method="GET">
            <input type="text" name="q" id="search" placeholder="Where do you want to sell?">
            <input class="search-btn" type="submit" value="Search" id="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
  </div>
<section class='text-center spaced show-for-large-up'>
  <div class='row'>
    <div class='col-md-12'>
     <!--  <img class="img-responsive brand-logo-images" src="landing_page_new/brand-logo.png"> -->
       <%if homepage.brand_image.present?%>
                  <%=image_tag homepage.brand_image.url(:thumb), :class => "img-responsive hp-slice"%>
                <%else%>
                  <img class="img-responsive" src="landing_page_new/brand-logo.png">
                <%end%>
    </div>
  </div>
</section>
<div class="container steple">
<div class="row">
<div class="wrapper"> 
  <div class="col-md-4">
    <b>
      <%if homepage.first_svg_heading.present?%>
            <%=homepage.first_svg_heading%>
          <%else%>
            First Heading
          <%end%>
    </b>
      <p class="parag">
         <%if homepage.first_svg_paragraph.present?%>
            <%=homepage.first_svg_paragraph%>
          <%else%>
            Some informations about this section
          <%end%>
      </p>
        <div class="building-animation">
    <div class="owl-carousel" id="owl-building">
        <div class="item">
           <img src="landing_page_new/grocery-shop.svg" alt="" width="200"/>           
        </div>
        <div class="item">
           <img src="landing_page_new/bar-pub.svg" alt="" width="200"/>           
        </div>
        <div class="item">
           <img src="landing_page_new/coffee-shop.svg" alt="" width="179"/>           
        </div>
    </div>
  </div>
   </div>
  <div class="col-md-4">
      <b>
      <%if homepage.second_svg_heading.present?%>
            <%=homepage.second_svg_heading%>
          <%else%>
            Second Heading
          <%end%>
      </b>
      <p class="parag">
        <%if homepage.second_svg_paragraph.present?%>
            <%=homepage.second_svg_paragraph%>
          <%else%>
            Some information about this section
          <%end%>
      </p>
          <div class="selves">
     <img src="landing_page_new/shelf.svg" alt="" width="200"/>
    <div class="owl-carousel" id="owl-selves">
        <div class="item">
           <img src="landing_page_new/shelf1.png" alt="" width="83"/>           
        </div>
        <div class="item">
           <img src="landing_page_new/shelf1.png" alt="" width="83"/>           
        </div>
        <div class="item">
           <img src="landing_page_new/shelf2-1.png" alt="" width="83"/>           
        </div>
        <div class="item">
           <img src="landing_page_new/shelf2-2.png" alt="" width="83"/>           
        </div>
        <div class="item">
           <img src="landing_page_new/shelf3-1.png" alt="" width="83"/>           
        </div>
        <div class="item">
           <img src="landing_page_new/shelf3-2.png" alt="" width="83"/>           
        </div>
    </div>
  </div>
    </div>
   <div class="col-md-4">
    <b>
      <%if homepage.third_svg_heading.present?%>
            <%=homepage.third_svg_heading%>
          <%else%>
            Third Heading
          <%end%>
    </b>
      <p class="parag">
       <%if homepage.third_svg_paragraph.present?%>
            <%=homepage.third_svg_paragraph%>
          <%else%>
            Some information about this section
          <%end%>
      </p>
         <div class="delivery-truck">
     <img src="landing_page_new/groc-delv.svg" alt="" width="200"/>
    <div class="owl-carousel" id="owl-delivery">
      <div class="item">
           <img src="landing_page_new/delivery-van.png" alt="" width="189"/>           
        </div>
        <div class="item">
           <img src="landing_page_new/Small-Truck.png" alt="" width="189"/>           
        </div>
        <div class="item">
           <img src="landing_page_new/Large-Truck.png" alt="" width="189"/>           
        </div>
    </div>
  </div>
     </div>
    </div>
  </div>
  </div>
<section class="images grid">
  <div class="container">
    <div id="destinations" class="row width-limit">
      <h3 class="section-title">
         <%if homepage.collage_section_title.present?%>
            <%=homepage.collage_section_title%>
          <%else%>
            Section Title
          <%end%>
      </h3>
      <ul class="list-unstyled">
        <li class="col-xs-6 col-sm-4">
         <%if homepage.first_collage_image.present?%>
            <a href="<%=homepage.first_collage_url%>" style="background-image: url('<%=homepage.first_collage_image.url(:thumb)%>')">
          <%else%>
            <a href="<%=homepage.first_collage_url%>" style="background-image: url('landing_page_new/collage1.jpg')">
          <%end%>
            <p class="sm-text"> <%if homepage.first_overlay_small_texts.present?%>
            <%=homepage.first_overlay_small_texts%>
          <%else%>
            Small Text
          <%end%>
          </p>
            <p class="bg-sub-text">
               <%if homepage.first_overlay_large_texts.present?%>
            <%=homepage.first_overlay_large_texts%>
          <%else%>
            Large1
          <%end%>
           </p>
          </a>
        </li>
        <li class="col-xs-6 col-sm-4">
        
        <%if homepage.second_collage_image.present?%>
            <a href="<%=homepage.second_collage_url%>" style="background-image: url('<%=homepage.second_collage_image.url(:thumb)%>')">
          <%else%>
            <a href="<%=homepage.second_collage_url%>" style="background-image: url('landing_page_new/collage2.jpg')">
          <%end%>
            <p class="sm-text"> <%if homepage.second_overlay_small_texts.present?%>
            <%=homepage.second_overlay_small_texts%>
          <%else%>
            Small Text
          <%end%>
          </p>
             <p class="bg-sub-text">
               <%if homepage.second_overlay_large_texts.present?%>
            <%=homepage.second_overlay_large_texts%>
          <%else%>
            Large2
          <%end%>
           </p>
          </a>
        </li>
        <li class="col-xs-6 col-sm-4">
         <%if homepage.third_collage_image.present?%>
            <a href="<%=homepage.third_collage_url%>" style="background-image: url('<%=homepage.third_collage_image.url(:thumb)%>')">
          <%else%>
            <a href="<%=homepage.third_collage_url%>" style="background-image: url('landing_page_new/collage3.jpg')">
          <%end%>
             <p class="sm-text"> <%if homepage.third_overlay_small_texts.present?%>
            <%=homepage.third_overlay_small_texts%>
          <%else%>
            Small Text
          <%end%>
          </p>
             <p class="bg-sub-text">
               <%if homepage.third_overlay_large_texts.present?%>
            <%=homepage.third_overlay_large_texts%>
          <%else%>
            Large3
          <%end%>
           </p>
          </a>
        </li>
        <li class="col-xs-6">
           <%if homepage.fourth_collage_image.present?%>
            <a href="<%=homepage.fourth_collage_url%>" style="background-image: url('<%=homepage.fourth_collage_image.url(:thumb)%>')">
          <%else%>
            <a href="<%=homepage.fourth_collage_url%>" style="background-image: url('landing_page_new/collage4.jpg')">
          <%end%>
             <p class="sm-text"> <%if homepage.fourth_overlay_small_texts.present?%>
            <%=homepage.fourth_overlay_small_texts%>
          <%else%>
            Small Text
          <%end%>
          </p>
          <p class="bg-sub-text">
            <%if homepage.fourth_overlay_large_texts.present?%>
              <%=homepage.fourth_overlay_large_texts%>
            <%else%>
              Large4
            <%end%>
          </p>
          </a>
        </li>
        <li class="col-xs-6">
         <%if homepage.fifth_collage_image.present?%>
            <a href="<%=homepage.fifth_collage_url%>" style="background-image: url('<%=homepage.fifth_collage_image.url(:thumb)%>')">
          <%else%>
            <a href="<%=homepage.fifth_collage_url%>" style="background-image: url('landing_page_new/collage5.jpg')">
          <%end%>
             <p class="sm-text"> <%if homepage.fifth_overlay_small_texts.present?%>
            <%=homepage.fifth_overlay_small_texts%>
          <%else%>
            Small Text
          <%end%>
          </p>
             <p class="bg-sub-text">
               <%if homepage.fifth_overlay_large_texts.present?%>
            <%=homepage.fifth_overlay_large_texts%>
          <%else%>
            Large5
          <%end%>
           </p>
          </a>
        </li>
        <li class="col-xs-6 col-sm-4">
         <%if homepage.sixth_collage_image.present?%>
            <a href="<%=homepage.sixth_collage_url%>" style="background-image: url('<%=homepage.sixth_collage_image.url(:thumb)%>')">
          <%else%>
            <a href="<%=homepage.sixth_collage_url%>" style="background-image: url('landing_page_new/collage6.jpg')">
          <%end%>
             <p class="sm-text"> <%if homepage.sixth_overlay_small_texts.present?%>
            <%=homepage.sixth_overlay_small_texts%>
          <%else%>
            Small Text
          <%end%>
          </p>
             <p class="bg-sub-text">
               <%if homepage.sixth_overlay_large_texts.present?%>
            <%=homepage.sixth_overlay_large_texts%>
          <%else%>
            Large6
          <%end%>
           </p>
          </a>
        </li>
        <li class="col-xs-6 col-sm-4">
            <%if homepage.seventh_collage_image.present?%>
            <a href="<%=homepage.seventh_collage_url%>" style="background-image: url('<%=homepage.seventh_collage_image.url(:thumb)%>')">
          <%else%>
            <a href="<%=homepage.seventh_collage_url%>" style="background-image: url('landing_page_new/collage7.jpg')">
          <%end%>
            <p class="sm-text"> <%if homepage.seventh_overlay_small_texts.present?%>
            <%=homepage.seventh_overlay_small_texts%>
          <%else%>
            Small Text
          <%end%>
          </p>
             <p class="bg-sub-text">
               <%if homepage.seventh_overlay_large_texts.present?%>
            <%=homepage.seventh_overlay_large_texts%>
          <%else%>
            Large7
          <%end%>
           </p>
          </a>
        </li>
        <li class="col-xs-6 col-sm-4">
           <%if homepage.eighth_collage_image.present?%>
            <a href="<%=homepage.eighth_collage_url%>" style="background-image: url('<%=homepage.eighth_collage_image.url(:thumb)%>')">
          <%else%>
            <a href="<%=homepage.eighth_collage_url%>" style="background-image: url('landing_page_new/collage8.jpg')">
          <%end%>
            <p class="sm-text"> <%if homepage.eighth_overlay_small_texts.present?%>
            <%=homepage.eighth_overlay_small_texts%>
          <%else%>
            Small Text
          <%end%>
          </p>
             <p class="bg-sub-text">
               <%if homepage.eighth_overlay_large_texts.present?%>
            <%=homepage.eighth_overlay_large_texts%>
          <%else%>
            Large8
          <%end%>
           </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="slick-slider-grid">
  <h3 class="section-title">THE VERY LATEST FOOD INSPIRATIONS</h3>
  <div class="carousel slide media-carousel" id="media">
    <div class="carousel-inner">
      <div class="item  active">
        <div class="row">
          <div class="col-md-3">
            <a class="thumbnail" href="#"><img class="slider-img" height="400" width="287" alt="" src="landing_page_new/slider1.png"></a>
          </div>
          <div class="col-md-3">
            <a class="thumbnail" href="#"><img alt="" class="slider-img" src="landing_page_new/slider2.png"></a>
          </div>
          <div class="col-md-3">
            <a class="thumbnail" href="#"><img alt="" class="slider-img" src="landing_page_new/slider3.png"></a>
          </div>
          <div class="col-md-3">
            <a class="thumbnail" href="#"><img alt="" class="slider-img" src="landing_page_new/slider4.png"></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-md-3">
            <a class="thumbnail" href="#"><img alt="" class="slider-img" src="landing_page_new/slider5.png"></a>
          </div>
          <div class="col-md-3">
            <a class="thumbnail" href="#"><img alt="" class="slider-img" src="landing_page_new/slider6.png"></a>
          </div>
          <div class="col-md-3">
            <a class="thumbnail" href="#"><img alt="" class="slider-img" src="landing_page_new/slider7.png"></a>
          </div>
          <div class="col-md-3">
            <a class="thumbnail" href="#"><img alt="" class="slider-img" src="landing_page_new/slider8.png"></a>
          </div>
        </div>
      </div>
    </div>
    <a data-slide="prev" href="#media" class="left carousel-control" style=" margin-top: 182px;
      margin-left: 14px;"><i class="fa fa-chevron-circle-left" aria-hidden="true" ></i>
    </a>
    <a data-slide="next" href="#media" class="right carousel-control" style=" margin-top: 182px;
      margin-right: 14px;"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
</section>
<section class="action-buttons">
<div class="container-fluid action-container">
<div class="row">
<div class="col-lg-6">
<!--   <div class="image-case"> -->
     <%if homepage.action_sec_image.present?%>
      <%=image_tag homepage.action_sec_image.url(:thumb), class: "img-responsive"%>

          <%else%>
            <img width="647" height="300" class="img-responsive" src="landing_page_new/halfpage-image.jpg">
          <%end%>
<!-- </div> -->
</div>
<div class="col-lg-6">
<h2 class="action-heading">
<%if homepage.action_sec_heading.present?%>
            <%=homepage.action_sec_heading%>
          <%else%>
           Place your heading here
          <%end%>
</h2>
<p class="action-para">
    <%if homepage.action_sec_para.present?%>
            <%=homepage.action_sec_para.html_safe%>
          <%else%>
           Place your paragraph texts here
          <%end%>
</p>
 <%= link_to "List Your Store", new_listing_path, :class => "new-listing-link btn-below", :id => "new-listing-link" %>
</div>
</div>
</div>
</section>
<footer id="myFooter">
<div class="container">
<div class="row">
<div class="col-sm-3">
<img class="footer-logo" src="landing_page_new/footer-logo.png">
</div>
<div class="col-sm-3">
<div class="social-networks">
<a class="facebook" href="">
<i class="fa fa-facebook" aria-hidden="true"></i>
</a>
<a class="twitter" href="">
<i class="fa fa-twitter" aria-hidden="true"></i>
</a>
<a class="instagram" href="">
<i class="fa fa-instagram" aria-hidden="true"></i>
</a>
<a class="google" href="">
<i class="fa fa-google-plus" aria-hidden="true"></i>
</a>
</div>
</div>
<div class="col-md-6">
<div class="col-sm-3">
<h5><a href=""> About</a></h5>
</div>
<div class="col-sm-3">
<h5><a href=""> Contact</a></h5>
</div>
<div class="col-sm-3">
<h5><a href=""> Terms</a></h5>
</div>
<div class="col-sm-3">
<h5><a href=""> Privacy</a></h5>
</div>
</div>
</div>
<hr class="style13">
<div class="ft-in">
<p class="text-center footer-info"> All Rights Reserved 2015 - &copy My Local Shelf</p>
</div>
</div>
</div>
</footer>
<script type="text/javascript">
  $(document).ready(function () {
  
    $(".player").mb_YTPlayer();
  
  });
</script>
<script type="text/javascript">
  $("#sticky").sticky({
     topSpacing: 0
  });
  
</script>