- content_for :javascript do
  initialize_profile_view("#{@person.username}");

- content_for :title_header do
  %h1
    %span.profile-title= @person.name(@current_community) + (@community_customization && @community_customization.storefront_label ? @community_customization.storefront_label : "")

%script{type: "text/template", class: "template", id: "image-frame-template"}
  .listing-image-frame
    #listing-image-link.listing-image-frame-content
      .listing-image-vertical-centering{:class => "${aspectRatioClass}" }
        %img{:src => "${url}", :alt => @person.id, :class => "listing-image ${aspectRatioClass}"}

%script{type: "text/template", class: "template", id: "image-thumbnail-template"}
  .listing-image-thumbnail-container
    %img.listing-image-thumbnail{src: "${url}"}
    .fade

.row
  .col-8

    .row.relative
      .people-image-mobile
        = huge_avatar_thumb(@person)
      .profile-action-buttons-mobile
        = render :partial => "profile_action_buttons"

    .row
      - if @person.description && !@person.description.blank?
        - text_with_line_breaks do
          =# @person.description
          .div{style: 'font-size: 15px;'}
            = @person.description
      - elsif current_user?(@person)
        %a{href: person_settings_path(@person)}
          .icon-with-text-container
            .ss-chat.icon-part
            .ss.text-part= t(".add_description")
    
    .row
      %h2.people-header
        - if listings.total_entries > 0
          - if current_user?(@person) && params[:show_closed]
            = pluralize(listings.total_entries, t(".listing"), t(".listings"))
          - else
            = pluralize(listings.total_entries, t(".open_listing"), t(".open_listings"))
        - else
          - if current_user?(@person) && params[:show_closed]
            = t(".no_listings")
          - else
            = t(".no_open_listings")
        %span.people-show-closed-link
          - if current_user?(@person)
            - if params[:show_closed]
              = link_to t("people.profile_listings.show_only_open"), person_path(@person)
            - else
              = link_to t("people.profile_listings.show_also_closed"), person_path(@person, :show_closed => true)

    #profile-listings-list
      - limit = 6
      = render :partial => 'listings/profile_listings', :locals => {person: @person, limit: limit, listings: listings}

    - if @current_community.follow_in_use?
      = render :partial => "followed_people", :locals => { person: @person, followed_people: followed_people, limit: 6 }

    #people-testimonials.listing-main
      .row
        %h2.people-header
          - if received_testimonials.size > 0
            = pluralize(received_testimonials.size, t(".review"), t(".reviews"))
            = "(#{feedback_positive_percentage.to_s}% #{t("people.show.positive")}, #{received_positive_testimonials.size}/#{received_testimonials.size})"
          - else
            = t(".no_reviews")

    - if @person.about_us && !@person.about_us.blank?
      - text_with_line_breaks do
        %h2
          ="Product Information"
          .div{style: 'font-size: 15px;'}
            =@person.about_us
    .row        
      .col-12.listing-details-container
        .row
          .col-12
            - with_image_frame_pic(@person) do |reason, pictures|
              - if reason == :images_ok
                .listing-image-carousel
                  #listing-image-frame

                  - if @prev_image_id && @next_image_id
                    = link_to params.merge(image: @prev_image_id), class: "listing-image-navi listing-image-navi-left", id: "listing-image-navi-left" do
                      .listing-image-navi-arrow-container
                        .listing-image-arrow-icon-container.left
                          = icon_tag("directleft", ["navigate-icon-fix", "listing-image-navi-arrow"])
                    = link_to params.merge(image: @next_image_id), class: "listing-image-navi listing-image-navi-right", id: "listing-image-navi-right" do
                      .listing-image-navi-arrow-container
                        .listing-image-arrow-icon-container.right
                          = icon_tag("directright", ["navigate-icon-fix", "listing-image-navi-arrow"])
                #thumbnail-stripe.listing-image-thumbnail-stripe
                - content_for :extra_javascript do
                  :javascript
                    var listingImages = #{pictures.map { |image| PeopleImageJSAdapter.new(image) }.to_json }
                    var currentImage = #{params[:image].present? ? params[:image].to_i : pictures.first.id};
                    ST.listingImages(listingImages, currentImage);
              
              - else
                .listing-image-text-container
                  .listing-image-frame
                    .listing-image-frame-content
                      .listing-image-vertical-centering
                        .listing-no-image
                          = t(".no_description")

         
        - if received_testimonials.size > 0
          #profile-testimonials-list
            = render :partial => "testimonials", :locals => {:received_testimonials => received_testimonials, :limit => 3}

  .col-4
    .row
      .people-image
        = huge_avatar_thumb(@person)

    .row
      .profile-action-buttons-desktop
        = render :partial => "profile_action_buttons"

- content_for :extra_javascript do
  :javascript
    window.ST.initializeFollowButtons();
