= render :partial => "conversations/conversation_header", locals: {other_party: conversation_other_party}

.centered-section-wide
  - if transaction_detail.present?
    .message-avatar-padding
      %p
        %b
          Product Name:
        = transaction_detail.product_name
      %p
        %b
          Description:
        = transaction_detail.description
      %p
        %b
          Recommended Reatil Price:
        = "£#{transaction_detail.recommended_retail_price}"
      %p
        %b
          Wholesale Price:
        = "£#{transaction_detail.wholesale_price}"
      %p
        %b
          Product Image:
        .images
          - transaction_detail.images.each do |image|
            = link_to (image_tag image.url(:medium)), image.url(:original), target: '_blank'
  = render :partial => "transactions/details", locals: {role: role, tx: transaction, transaction_model: transaction_model, listing: listing, is_author: is_author, price_break_down_locals: price_break_down_locals}

  = render :partial => "conversations/messages_and_form", locals: {role: role, message_form: message_form, message_form_action: message_form_action, messages: messages}
