<% if logged_in %>

 <li> <%= link_to  inbox_path do %> 
 <i class="fa fa-envelope-o" aria-hidden="true"></i>
 <% end -%>
 </li>
            <li class="dropdown big-screen">
            	 <a href="#" class="dropdown-toggle nav-links user-menu-dp" data-toggle="dropdown" role="button" aria-expanded="false"><%= render :partial => "layouts/header_anchors", locals: {avatar_url: avatar_url, current_user_name: current_user_name, icons: icons} %></a>
               <ul class="dropdown-menu" role="menu">
                      <li>
                         <%= link_to inbox_path do %>
                          <%= icon_map_tag(icons, "mail", ["icon-with-text"]) %>
                          <%= t("layouts.conversations.messages") %>
                          <% if unread_count > 0 %>
                            <div class="<%= get_badge_class(unread_count) %> mobile-badge">
                              <%= unread_count %>
                            </div>
                          <% end %>
                        <% end %>
                      </li>
                        <li>
                        <%= link_to profile_path do %>
                        <%= icon_map_tag(icons, "user", ["icon-with-text"]) %>
                        <%= t("header.profile") %>
                      <% end %>
                        </li>
                        <li>  <%= link_to manage_listings_path do %>
                          <%= icon_map_tag(icons, "list", ["icon-with-text"]) %>
                          <%= t("header.manage_listings") %>
                        <% end %>
                      </li>
                        <li> <%= link_to settings_path do %>
                            <%= icon_map_tag(icons, "settings", ["icon-with-text"]) %>
                            <%= t("layouts.logged_in.settings") %>
                          <% end %>
                        </li>
                          <li class="divider"></li>
                        <li><%= link_to ("Logout"), logout_path%></li> 
                    </ul>
            </li>
            <li class="dropdown">
                    <a href="#" class="dropdown-toggle nav-links" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i> Menu<%= render :partial => "layouts/header_menu", locals: { return_after_locale_change: return_after_locale_change, available_locales: available_locales, icons: icons} %>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><%= link_to "/" do %>
                          <%= icon_map_tag(icons, "home", ["icon-with-text"]) %>
                          <%= t("header.home") %>
                        <% end %></li>
                        <li><%= link_to new_listing_path, :class => "hidden-tablet" do %>
                            <%= icon_map_tag(icons, "new_listing", ["icon-with-text"]) %>
                            <%= t("homepage.index.post_new_listing") %>
                          <% end %></li>
                        <li><%= link_to about_infos_path do %>
                            <%= icon_map_tag(icons, "information", ["icon-with-text"]) %>
                            <%= t("header.about") %>
                          <% end %></li>
                          <li> <%= link_to new_user_feedback_path do %>
                            <%= icon_map_tag(icons, "feedback", ["icon-with-text"]) %>
                            <%= t("header.contact_us") %>
                          <% end %> </li>
                        <li><% with_invite_link do %>
                          <%= link_to new_invitation_path do %>
                            <%= icon_map_tag(icons, "invite", ["icon-with-text"]) %>
                            <%= t("header.invite") %>
                          <% end %>
                        <% end %></li> 
                        <li> <% Maybe(@current_community).menu_links.each do |menu_links| %>
                        <% menu_links.each do |menu_link| %>
                          <%= link_to menu_link.url(I18n.locale), :target => "_blank" do %>
                            <%= icon_map_tag(icons, "redirect", ["icon-with-text"]) %>
                            <%= menu_link.title(I18n.locale) %>
                          <% end %>
                        <% end %>
                      <% end %></li>
                      <li><% if @current_user && @current_community && @current_user.has_admin_rights? %>
                        <%= link_to admin_details_edit_path do %>
                          <%= icon_map_tag(icons, "admin", ["icon-with-text"]) %>
                          <%= t("layouts.logged_in.admin") %>
                        <% end %>
                      <% end %></li>
                    </ul>
        <li> 
<% end %>

<% unless logged_in %>
      <li>
       <li>
        <%= link_to ("Sign Up"), sign_up_path %>
        </li>
      	<li> <%= link_to t("Log In"),  login_path  %> 
      </li>
         <li class="dropdown">
                    <a href="#" class="dropdown-toggle nav-links" data-toggle="dropdown" role="button" aria-expanded="false">Menu<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="nav-links" href="/">Home</a></li>
                        <li><a class="nav-links" href="/en/infos/about">About</a></li>
                        <li><a class="nav-links" href="/en/user_feedbacks/new">Contact Us</a></li> 
                    </ul>
                    </li>
        <% end %>

<%#= render :partial => "layouts/header_right_visible_tablet", locals: {unread_count: unread_count, inbox_path: inbox_path, icons: icons} %>
  <%#= link_to t("List Your Space"), new_listing_path, :class => "new-listing-link", :id => "new-listing-link" %>

  