<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <% title_service_name = "#{@current_community.full_name(I18n.locale)}" %>
    <% if content_for?(:title) %>
      <% title = "#{content_for(:title)} - #{title_service_name}" %>
    <% else %>
      <% title = "#{title_service_name} - #{community_slogan}" %>
    <% end %>

    <% if content_for?(:keywords) %>
      <% keywords = content_for(:keywords) %>
    <% else %>
      <% keywords = StringUtils.keywords(community_slogan) %>
    <% end %>

    <% if content_for?(:meta_author) %>
      <% meta_author = content_for(:meta_author) %>
    <% else %>
      <% meta_author = @current_community.name(I18n.locale) %>
    <% end %>

    <% full_url = "#{@current_community.full_url}#{request.fullpath}" %>

    <% if content_for?(:meta_description) %>
      <% meta_description = "#{content_for(:meta_description)}" %>
    <% else %>
      <% meta_description = "#{community_description(false)} - #{community_slogan}" %>
    <% end %>

    <% if content_for?(:meta_image) %>
      <% meta_image = content_for(:meta_image) %>
      <% meta_image_width = content_for(:meta_image_width) %>
      <% meta_image_height = content_for(:meta_image_height) %>
    <% else %>
      <% if @current_community.logo? %>
        <% meta_image = @current_community.logo.url(:original) %>
      <% else %>
        <% meta_image = image_path("sharetribe_icon.png") %>
      <% end %>
    <% end %>
    <meta content="<%= title %>" property="og:title"/>
    <meta content="<%= title %>" name="twitter:title"/>
    <meta content="<%= meta_author %>" name="author"/>
    <meta content="<%= keywords %>" name="keywords"/>
    <meta content="<%= full_url %>" property="og:url"/>
    <meta content="<%= @current_community.full_domain(with_protocol: true) %>" name="identifier-url"/>
    <meta content="<%= @current_community.name(I18n.locale) %>" name="copyright"/>
    <meta content="<%= full_url %>" name="twitter:url"/>
    <meta content="<%= @current_community.full_name(locale) %>" property="og:site_name"/>
    <meta content="<%= strip_tags(meta_description).html_safe %>" name="description"/>
    <meta content="<%= strip_tags(meta_description).html_safe %>" property="og:description"/>
    <meta content="<%= strip_tags(meta_description).html_safe %>" name="twitter:description"/>
    <meta content="<%= meta_image %>" property="og:image"/>
    <% if meta_image_width && meta_image_height %>
      <meta content="<%= meta_image_width %>" property="og:image:width"/>
      <meta content="<%= meta_image_height %>" property="og:image:height"/>
    <% end %>

    <meta content="<%= meta_image %>" name="twitter:image"/>
    <link href="<%= full_url %>" rel="canonical"></link>
    <% if @facebook_locale_code %>
      <meta content="<%= @facebook_locale_code %>" property="og:locale"/>
    <% end %>
    <% if @current_community.twitter_handle.present? %>
      <meta content="@<%= @current_community.twitter_handle %>" name="twitter:site"/>
    <% end %>
    <% if @current_community.facebook_connect_id %>
      <meta content="<%= @current_community.facebook_connect_id %>" property="fb:app_id"/>
    <% end %>
    <link href="<%= meta_image %>" rel="image_src"></link>
    <link href="<%= @current_community.favicon %>" rel="shortcut icon"></link>
    <link href="<%= @current_community.logo.url(:apple_touch) %>" rel="apple-touch-icon-precomposed"></link>


    <!-- CSS -->
   
    <% if @current_community.has_customizations? %>
      <%= render partial: "layouts/style_overrides", locals: MarketplaceHelper.style_customizations_map(@current_community) %>
    <% end %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <% maps_key = MarketplaceHelper.google_maps_key(@current_community.id) %>
    <% key_param = maps_key ? "&key=#{maps_key}" : "" %>

    <%= javascript_include_tag 'landing_page_new/base'%>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places#{key_param}" %>
    <%= stylesheet_link_tag "landing_page_new/base" %>
    
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <!-- Modernizr, in the head tag, right after stylesheets, for best performance: -->
    <%= javascript_include_tag "modernizr.min"%>
    <!-- Android pre Jellybean has an ugly bug, which prevents font-size 0 technique from -->
    <!-- removing the spaces between inline-blocks. Remove this piece of code when pre Jellybean becomes unsupported -->
    <script>
    Modernizr.addTest('androidPreJellybean', function(){
        var ua = navigator.userAgent;
        if( ua.indexOf("Android") >= 0 ) {
            var androidversion = parseFloat(ua.slice(ua.indexOf("Android")+8));
            return androidversion &lt; 4.1
        }
    });
    </script>

    <script>

     jQuery(document).ready(function($) {
        $("#owl-building").owlCarousel({
            items:1,
            stagePadding: 90,
            loop:true,
            margin:15,
            autoplay:true,
            autoplayTimeout:3800
        });
        $("#owl-selves").owlCarousel({
            items:2,
            loop:true,
            autoplay:true,
            autoplayTimeout:2500
        });
        $("#owl-delivery").owlCarousel({
            items:1,
            loop:true,
            autoplay:true,
            autoplayTimeout:4600
        });
        
    });
</script>


     <script>
    $(function(){

        $("#typed").typed({
            // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
            stringsElement: $('#typed-strings'),
            typeSpeed: 100,
            backDelay: 500,
            loop: true,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false,
            callback: function(){ foo(); },
            resetCallback: function() { newTyped(); }
        });

        $(".reset").click(function(){
            $("#typed").typed('reset');
        });

    });

    function newTyped(){ /* A new typed object */ }

    function foo(){ console.log("Callback"); }

    </script>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    
</head>
<body>
  <%=yield%>
  <script type="text/javascript">
  $(document).ready(function () {

    $(".player").mb_YTPlayer();

});
</script>



<script type="text/javascript">

     $("#sticky").sticky({
        topSpacing: 0
    });

</script>


 
</body>
<html>