<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta property="og:type" content="website">
    <meta http-equiv="content-language" content="fi">
    <meta name="twitter:card" content="summary">
    <meta name="robots" content="index,follow">
    <!-- Additional meta tags for SEO, etc. -->

    <title>My Local Shelf</title>
    <meta name="description" content="Vint on varastotilojen markkinapaikka. Ansaitse tyhjällä tilallasi tai vuokraa varasto, autotalli tai muuta varastotilaa helposti.">

    <!-- CSS -->
   
    <% if @current_community.has_customizations? %>
      <%= render partial: "layouts/style_overrides", locals: MarketplaceHelper.style_customizations_map(@current_community) %>
    <% end %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

     <%= javascript_include_tag 'landing_page_new/base'%>
    <%= stylesheet_link_tag "landing_page_new/base" %>
    
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <!-- Modernizr, in the head tag, right after stylesheets, for best performance: -->
    <%= javascript_include_tag "modernizr.min"%>
    <!-- Android pre Jellybean has an ugly bug, which prevents font-size 0 technique from -->
    <!-- removing the spaces between inline-blocks. Remove this piece of code when pre Jellybean becomes unsupported -->
    <script>
    Modernizr.addTest('androidPreJellybean', function(){
        var ua = navigator.userAgent;
        if( ua.indexOf("Android") >= 0 ) {
            var androidversion = parseFloat(ua.slice(ua.indexOf("Android")+8));
            return androidversion &lt; 4.1
        }
    });
    </script>

     <script>
    $(function(){

        $("#typed").typed({
            // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
            stringsElement: $('#typed-strings'),
            typeSpeed: 100,
            backDelay: 500,
            loop: true,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false,
            callback: function(){ foo(); },
            resetCallback: function() { newTyped(); }
        });

        $(".reset").click(function(){
            $("#typed").typed('reset');
        });

    });

    function newTyped(){ /* A new typed object */ }

    function foo(){ console.log("Callback"); }

    </script>
    <meta content="authenticity_token" name="csrf-param">
    <meta content="CF9vIoYbwbWcfSevjlAlcLIsw+eh5OZhx6oBeHgnlBMNGsdrZdBwZuqX5CJ5u9BQKZKvx5XaAs+DWxA8qBbmgg==" name="csrf-token">

    <!-- Favicon -->
   
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    
  


</head>
<body>
  <%=yield%>
  <script type="text/javascript">
  $(document).ready(function () {

    $(".player").mb_YTPlayer();

});
</script>



<script type="text/javascript">

     $("#sticky").sticky({
        topSpacing: 0
    });

</script>


 
</body>
<html>